:root{
  --bg: #fcf2d4;
  --bg-accent:  #2b294c;
  --header-text: #2b294c;
  --text: #2b294c;
}

body {
background-color: var(--bg);
}

header{
    background-color: var(--bg-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 200%;
    color: var(--header-text);
    margin: 1% 0;
    background-color: var(--bg);
}

.navbar {
    display: flex;
}

li a {
    display: block;
    padding: 10px;
    background-color: var(--bg-accent);
    color: var(--bg);
    text-decoration: none;
  }

li a:hover {
  background-color: var(--bg);
  color: var(--text);
}

section.hero
{
  background-image: url(/challenge-02/assets/images/hero-shot.jpg);
  background-color: var(--bg); 
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.hero h2{
  background-color: var(--bg);
  color: var(--header-text);
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.page-header{
  width: 25%;
  padding: 20px;
  margin: 20px;
  border-right: 5px solid var(--bg-accent);
  color: var(--header-text);
}

.page-header h2{
  font-size: 150%;
}

.page-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  outline: 2px dashed red;
  outline-offset: -2px;
}


.about p{
flex: 0 0 100%;
flex-direction: column;
justify-content: flex-start;
color: var(--text);
padding: 20px;
outline: 2px dashed red;
outline-offset: -2px;
background-color: green;
}

#hero-card{
  flex: 0 0 100%;
  background-image: url(/challenge-02/assets/images/hero-shot.jpg);
  background-color: var(--bg); 
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: var(--bg-accent);
}

.card {
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text);
  padding: 20px;
  outline: 2px dashed red;
  outline-offset: -2px;
  background-color: green;
}

.page-section a{
  text-decoration: none;
  color: var(--text);
}

footer {
  background-color: var(--bg-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h2{
  font-size: 150%;
  color: var(--header-text);
  margin: 1% 0;
  background-color: var(--bg);
}

footer ul{
  display: flex;
}

@media  screen and (max-width: 560px) {
  .content {
    flex-direction: column;
  }

  .page-header {
    border-right: 0px;
    border-bottom:  5px solid var(--bg-accent);
  }
}